* {
	margin: 0;
	padding: 0;
}

body {
	font: 16px;
	text-align: center;
	background: #f9f9f9;
}

h1 {
	font-size: 30pt;
	color: #f8c405;
}

#page-wrap {
	width: 1024px;
	margin: 25px auto;
}

input[type="text"] {
	padding: 10px;  
	margin: 10px 5px 10px 5px;
	text-align: center;
	color: #000000;
	font: bold 11pt 'Times New Roman'; 
    width: 100px;

}  

#randomnumber {
	font-size: 70pt;
	font-family: 'Times New Roman';
	font-weight: bold;
}

.button {
	min-width: 400px;
	font-weight: bold;
	font-size: 14pt;
	color: #000000;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 1px);
	border-radius: 1px;
	background: #fdd74e;
	box-shadow: 0 -3px #f8c405 inset;
	transition: 0.2s;
}